body{
	padding: 0px;
	margin: 0px;
}

.container{
	margin-top: 80px;
	width: 1024px;
	position: relative;
	transform: translateX(-50%);
	left: 50%;
}

.container-group{
	display: grid;
	grid-template-columns: 25% 25% 25% 25%;   
}

.container-item{
	color: rgba(0, 0, 0, 0.7);
	height: 200px;
	margin: 5px;
}

.container-item-group{
	display: grid;
	grid-template-columns: auto 30px 30px;
	padding: 10px;
	background: rgba(0,0,0, 0.1);
}

.container-item-title{
	
}

.container-item-title-text{
	position: relative;
	transform: translateY(-50%);
	top: 50%;
}

.container-item-icon{
	text-align: right;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.item-icon:hover{
	color: #fff;
	cursor: pointer;
}

.item-icon:active{
	color: #111;
}

.container-item-context{
	padding: 15px;
}

/*------------------------------------------
lOGIN STYLE
------------------------------------------*/
.menu{
	width: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 100;
	-webkit-box-shadow: 0px 3px 5px 0px rgba(194,194,194,0.5);
	-moz-box-shadow: 0px 3px 5px 0px rgba(194,194,194,0.5);
	box-shadow: 0px 3px 5px 0px rgba(194,194,194,0.5);
}

.menu-item{
	padding: 14px 20px;
	font-weight: 800;
}

/*------------------------------------------
lOGIN STYLE
------------------------------------------*/
.login{
	border-radius: 3px;
	position: absolute;
	transform: translate(-50%,-50%);
	left: 50%;
	top: 50%;
	z-index: 100;
	background: #fff;
	width: 300px;
	-webkit-box-shadow: 0px 0px 5px 1px rgba(60,60,60,0.83);
	-moz-box-shadow: 0px 0px 5px 1px rgba(60,60,60,0.83);
	box-shadow: 0px 0px 5px 1px rgba(60,60,60,0.83);
}

.login-context{
	padding: 40px 20px;
}

.login-title{
	font-size: 30px;
	text-align: center;
	font-weight: bold;
	margin-bottom: -2px;
	color: #333;
}

.login-description{
	font-size: 14px;
	text-align: center;
	margin-bottom: 20px;
	color: #999;
}

.login-label{
	margin-bottom: 5px;
	color: #777;
}

.login-input{
	padding: 10px 10px;
	background: #efeff5;
	border: 0 none;
	border-bottom: 1px solid #e0e0eb;
	width: 93%;
	margin-bottom: 15px;
	box-shadow: 0 0 0 0;
	outline: 0;
}

.login-input:focus{
	border-bottom: 1px solid #333;
}

.loginbutton{
	margin-top: 15px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 11px 30px;
	cursor: pointer;
	box-shadow: 0 0 0 0;
	border: 0 none;
	outline: 0;
	background: #333;
	color: #ffffff;
	font-size: 16px;
	border-radius: 3px;
}

/*------------------------------------------
ITEMEDITE STYLE
------------------------------------------*/
.itemedite{
	background: #fff;
	width: 500px;
	position: fixed;
	transform: translate(-50%, -50%);
	left: 50%;
	top: 50%;
	z-index: 102;
	border-radius: 3px;
	display: none;
}

.itemedite-group{
	padding: 20px;
	padding-top: 0px;
}

.itemedite-title{
    font-size: 20px;
    padding: 20px;
    padding-bottom: 0px;
    padding-top: 10px;
}

.itemedite-description{
    padding: 1px 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
    font-size: 14px;
    color: #999;
}

.itemedite-label{
	color: #999;
	display: block;
	margin-top: 20px;
	margin-bottom: 5px;
}

.itemedite-input{
	padding: 10px;
	background: #f2f2f2;
	width: 95%;
	border: 1px solid #ccc;
	outline: none;
}

.itemedite-input:focus{
	border: 1px solid #00cc66;
}

.itemedite-area{
	padding: 15px;
	border: none;
	outline: none;
	background: #f2f2f2;
	resize: none;
	border: 1px solid #ccc;
	width: 93%;
	height: 200px;
}

.itemedite-area:focus{
	border: 1px solid #00cc66;
}

.itemedite-button-group{
	display: grid;
	grid-template-columns: 48% 4% 48%;
	position: relative;
	transform: translateX(-100%);
	left: 100%; 
}

.itemedite-submit{
	margin-top: 10px;
	padding: 10px 20px;
	border-radius: 3px;
	border: none;
	outline: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background: #00cc66;
	color: #fff;
	cursor: pointer;
}

.itemedite-submit:hover{
	background: #00b359;
}

.itemedite-submit:active{
	background: #00cc66;
}

.itemedite-close{
	margin-top: 10px;
	padding: 10px 20px;
	border-radius: 3px;
	border: none;
	outline: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background: #ff0000;
	color: #fff;
	cursor: pointer;
	font-size: 14px;
	text-align: center;
}

.itemedite-close:hover{
	background: #cc0000;
}

.itemedite-close:active{
	background: #ff0000;
}

.itemedite-background{
	position: fixed;
	background: rgba(0,0,0, 0.89);
	z-index: 101;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
    display: none;
}



.button-create{
	padding: 15px 50px;
	border: none;
	background: #555;
	color: #fff;
	position: relative;
	transform: translateX(-99.5%);
	left: 99.5%;
	font-weight: bold;
	margin-bottom: 10px;
}


